.caixa{
    background-image: url(https://i.imgur.com/531xG9U.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}

.titulo{
    color: #3F51B5 !important;
    font-weight: bold !important;
}

.botao{
    border-color: white !important;
    background-color: #3F51B5 !important;
    color: white !important;
}

.postagens{
    background-color: white;
}

.text-decorator-none {
    text-decoration: none;
}