.cursor{
    cursor: pointer;
    color: white;
}

.text-decorator-none{
    text-decoration: none;
}



/*.img {
    width: 30px;
    margin: 0 auto;
}

.color {
    background-color: "red";
}

.text-decorator-none{
    text-decoration: none;
}*/